body {
  margin: 0;
  background-image: url("/static/images/Home-background.jpg");
  background-size: cover;
  color: black;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-family: "Chewy", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  color: whitesmoke;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.tapToStart {
  font-size: 4em;
  color: white;
  padding: 20px 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4em;
  background-color: #f9d342;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.tapToStart:hover {
  background-color: #f9c42f;
  transform: scale(1.05);
}

.tapToStart:active {
  background-color: #f9b702;
  transform: scale(1.00);
}

.container-button {
  justify-content: center;
  margin-top: 15px;
}

.container-image {
  position: relative;
  width: 640px;
  height: 480px;
  margin: auto;
}

.frame-button {
  font-size: 3.5em;
  color: white;
  font-family: "Chewy", system-ui;
  font-weight: 500;
  padding: 20px 40px;
  margin: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4em;
  background-color: #f9d342;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.frame-button:hover {
  background-color: #f9d342;
  transform: scale(1.05);
}

.frame-button:active {
  background-color: #f9b702;
  transform: scale(1.00);
}

.countdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px #000;
  animation: scaleFade 1s ease-in-out;
}

@keyframes scaleFade {
  0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(2); opacity: 0; }
}

.hidden {
  display: none;
}

.image-frame {
  justify-content: center;
  align-items: center;
}

#camera {
  object-fit: contain;
  background: black;
}

#video,
#photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#countdown {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.loading-text {
  position: fixed;
  font-family: "Chewy", system-ui;
  font-weight: 500;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Ensure it appears above other content */
}

.loading-element {
  /* HTML: <div class="loader"></div> */
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  height: 20px;
  z-index: 9999;
  aspect-ratio: 5;
  --_g:no-repeat radial-gradient(farthest-side,#ffffff 40%, #000000 30%, #e0dfdf00 95%);
  background: var(--_g),var(--_g),var(--_g),var(--_g);
  background-size: 20% 100%;
  animation:
    l40-1 .75s infinite alternate,
    l40-2 1.5s infinite alternate; 
  display: none;
}
@keyframes l40-1 {
  0%,
  10% {background-position: 0 0,0 0,0 0,0 0}
  33% {background-position: 0 0,calc(100%/3) 0,calc(100%/3) 0,calc(100%/3) 0}
  66% {background-position: 0 0,calc(100%/3) 0,calc(2*100%/3) 0,calc(2*100%/3) 0}
  90%,
  100% {background-position: 0 0,calc(100%/3) 0,calc(2*100%/3) 0,100% 0}
}
@keyframes l40-2 {
  0%,49.99% {transform: scale( 1)}
  50%,100%  {transform: scale(-1)}
}

#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px); /* This blurs the background including background image */
  z-index: 999; /* Below loading-element */
  display: none;
}


image-preview
{
  display: none;
}