{% extends "base.html" %}

{% block title %}Welcome | Photo Booth{% endblock %}

{% block content %}
    <h1>Choose Your Photo Frame</h1>
    <div class="container">
        <div class="container-button">
            <form action="/set_size" method="post">
                <button type="submit" value="frame1" name="size" id="frame-1" class="frame-button"> 7 cm x 10 cm </button>
                <button type="submit" value="frame2" name="size" id="frame-2" class="frame-button"> 14 cm x 10 cm </button>
            </form>
        </div>
        <a id="exitButton" class="exit-button">
            <i class="fa fa-sign-out"></i>
        </a>
        <a class="back-button" onClick="history.back()">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>

{% endblock %}