{% extends "base.html" %}

{% block title %}Welcome | Photo Booth{% endblock %}

{% block content %}
    <body id="photo-preview">
    <div class="container">
        <div class="container-image">
            <video id="video" autoplay></video>
            <div id="countdown" class="hidden">5</div>
            <img id="photo" class="image-frame" style="display: none"/>
            <canvas id="canvas" style="display: none"></canvas>
        </div>
    </div>        
    <div class="container-button">
        <button id="retakeButton" class="frame-button" style="display: none">Retake</button>
        <button id="captureButton" class="frame-button">Capture</button>
    </div>

{% endblock %}