{% extends "base.html" %}

{% block title %}Welcome | Photo Booth{% endblock %}

{% block content %}
    <body id="photo-preview">
    <div id="blur-overlay"></div>
    <div id="photo-settings"
     data-photo-width="{{ photo_width }}"
     data-photo-height="{{ photo_height }}"></div>
    <div id="page-content">
        <div class="container">
            <div class="container-image">
                <video id="video" autoplay></video>
                <div id="countdown" class="hidden">5</div>
                <img id="photo" class="image-frame" style="display: none"/>
                <canvas id="canvas" style="display: none"></canvas>
            </div>
        </div>        
        <div class="container-button">
            <button id="retakeButton" class="frame-button" style="display: none">Retake</button>
            <button id="captureButton" class="frame-button">Capture</button>
            <button id="uploadButton" style="display: none">Apply AI Filter - DEBUG ONLY</button>
            <button id="stopButton"> Stop Camera - DEBUG ONLY</button> 
            <button id="startButton"> Start Camera - DEBUG ONLY</button> 
            <button id="loadingButton">Loading button - DEBUG ONLY</button>
            <button id="saveButton" style="display: none">Save Photo - DEBUG ONLY</button>
            <div id="loading-text" class="loading-text" style="display: none">Please Wait ...</div>
            <div id="loading-element" class="loading-element" style="display: none"></div>
        </div>
    </div>

{% endblock %}